.cart-box {
   max-height: 355px;
   overflow-y: auto;
   margin-top: 20px;
}

.cart-box ul {
   margin-left: 10px;
}

.cart-box ul li {
   width: 100%;
   height: 100%;
   margin-top: 8px;
   margin-bottom: 20px;
   display: flex;
   user-select: none;
   -webkit-user-select: none;
}

.cart-box ul li .pic {
   width: 80px;
   position: relative;
   display: block;
   z-index: 1;
   margin-right: 10px;
}

.cart-box ul li .pic a {
   display: block;
}

.cart-box ul li .pic a img {
   width: 100%;
}

.cart-box ul li .pic .close-basket {
   background-color: #ccc;
   color: #2d2d2d;
   text-align: center;
   width: 23px;
   height: 23px;
   line-height: 23px;
   font-size: 13px;
   position: absolute;
   top: -7px;
   left: -7px;
   border-radius: 50%;
   z-index: 3;
   cursor: pointer;
}

.cart-box ul li .pic .close-basket:hover {
   background-color: var(--orange-color);
   color: #fff;
}

.cart-box ul li .left {
   color: #fff;
}

.cart-box ul li .left span {
   font-size: 15px;
}
.cart-box ul li .left .price-count{
margin-bottom:7px;
}
.cart-total {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 5px;
   font-weight: bold;
}

.total-basket {
   border-top: solid 2px #4f4d50;
   padding-top: 20px;

}
.total-basket .cart-total:last-child{
    border-top: solid 2px #4f4d50;
    padding-top: 10px;
}
.total-basket .cart-total:nth-child(2){
    margin-bottom: 15px;
}
.cart-total .price-title,
.cart-total .price-total {
   color: #f0f0f0;
   font-size: 16px;
}

.cart-total .price-total ,.no-item{
   color: #fff;
}

.count-basket .btn-quantity input,.count-basket .btn-quantity button{
color: #ddd;
}
.cart-list .btn-default{
width: 100%;
margin-top: 20px;
}