.product-details h1 {
  font-size: 20px;
}
.product-details .category {
  color: var(--orange-color);
}
.product-page .btn-default {
  opacity: 1;
  width: auto;
}
.product-page .price-sec .old-price {
  display: block;
}
.product-page .price-sec .new-price {
  font-size: 30px;
}
.stars .fa-star.checked,
.stars .fa-star-half-full.checked {
  color: #ffd700;
}

.stars .fa-star,
.stars .fa-star-half-full {
  color: #ddd;
  font-size: 17px;
  vertical-align: middle;
}

.btn-quantity {
  display: flex;
}
.btn-quantity button {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid #ddd;
}
.btn-quantity .btn-add {
  border-radius: 24px 0 0 24px;
  border-right: none;
}
.btn-quantity .btn-decrease {
  border-left: none;
  border-radius: 0 24px 24px 0;
}
.btn-quantity input {
  width: 40px;
  border: 1px solid #ddd;
  -moz-appearance: textfield !important;
  text-align: center;
  background: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none !important;
   margin: 0 !important;
}
.product-details .nav-tabs .nav-link{
color: #2b2b2b;
border: none;
}
.product-details .nav-tabs .nav-link:hover{
  border: none;
  color:var(--orange-color) ;
}
.product-details .nav-tabs .nav-link.active{
border: none;
border-bottom: 2px solid var(--orange-color);
color:var(--orange-color) ;
}